input {
margin-left: 10px;
}

.errorMess{
    color: red;
}

label {
    font-size: 30px ;
    color: darkgray;
}

.mediabutton {
    margin-left: 0px;
    float: left;
}

.bottompara{
    font-size: 30px ;
    color: darkgray;
}