<footer class="footer ">
    <div class="container ">
       
            <table class="table" style="background-color: white;">
                  <tr>
                    <td><img src={{songs.linkImg}} width="90px" style="margin-left: -57px;"></td>
                    <!-- <td><label style="color: #835694;
                        font-size: 20px; margin-top: 30px;">{{songs.name}}</label></td> -->
                    <td><audio controls="controls" src="{{songs.linkMp3}}" style="margin-bottom: -52px;margin-bottom: -52px;margin-left: -400px;"></audio></td> 
                    <!-- <td>{{songs.musicType}}</td>
                    <td>{{songs.author}}</td> -->
                  </tr>
              </table>
      
        <!-- <div class="copyright pull-right"> -->
            <!-- &copy;
            {{test | date: 'yyyy'}}, made with love by
            <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web. -->
        <!-- </div> -->
    </div>
</footer>

            
                