<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <table class="table">
                  <tr>
                    <td><img src={{songs.linkImg}} width="90px"></td>
                    <td>{{songs.name}}</td>
                    <td><audio controls><source src={{songs.linkMp3}}></audio></td>
                    <td>{{songs.musicType}}</td>
                    <td>{{songs.author}}</td>
                  </tr>
              </table>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with love by
            <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
        </div>
    </div>
</footer>

            
                