
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" >
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title "></h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Type music</th>
                                    <th>Date make</th>
                                </thead>
                                <tbody *ngFor="let a of playlists, index as i">
                                    <tr>
                                        <td>{{i+1}}</td>
                                        <td>{{a.name}}</td>
                                        <td>{{a.musicType}}</td>
                                        <td>{{a.dateCreated}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  