<!--Carousel Wrapper-->
<div
  id="carousel-example-2"
  class="carousel slide carousel-fade"
  data-ride="carousel"
>
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-2" data-slide-to="1"></li>
    <li data-target="#carousel-example-2" data-slide-to="2"></li>
  </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" style="height: 430px" role="listbox">
    <div class="carousel-item active">
      <div class="view">
        <img
          class="d-block w-100 h-1"
          src="https://wallpapershome.com/images/pages/pic_h/590.jpg"
          alt="First slide"
        />
        <div class="mask rgba-black-light"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Connect on HLT</h3>
        <p>
          Discover, stream, and share a constantly expanding mix of music from
          emerging and major artists around the world.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img
          class="d-block w-100"
          src="https://wallpapershome.com/images/pages/pic_h/979.jpg"
          alt="Second slide"
        />
        <div class="mask rgba-black-strong"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Connect on HLT</h3>
        <p>
          Discover, stream, and share a constantly expanding mix of music from
          emerging and major artists around the world.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img
          class="d-block w-100"
          src="https://wallpapershome.com/images/pages/pic_h/5149.jpg"
          alt="Third slide"
        />
        <div class="mask rgba-black-slight"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Connect on HLT</h3>
        <p>
          Discover, stream, and share a constantly expanding mix of music from
          emerging and major artists around the world.
        </p>
      </div>
    </div>
  </div>
  <!--/.Slides-->
  <!--Controls-->
  <a
    class="carousel-control-prev"
    href="#carousel-example-2"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carousel-example-2"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="main-content col-md-10">
      <div class="col-md-12" style="margin-top: 60px">
        <div class="card">
          <div class="card-header card-header-danger" style="background: white">
            <h4 class="card-title" style="color: black">Recently added list</h4>
            <!-- <p class="card-category"> Here you are? </p> -->
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <tbody *ngFor="let i of songs">
                  <tr>
                    <td><img src="{{ i.linkImg }}" width="90px" /></td>
                    <td>{{ i.name }}</td>
                    <td>{{ i.author }}</td>
                    <td>
                      <audio controls><source src="{{ i.linkMp3 }}" /></audio>
                    </td>
                    <td>{{ i.musicType }}</td>
                    <td>
                      <button class="btn btn-primary" (click)="listen(i)">
                        Nghe nhạc
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
<div class="container">
  <h2  style="color: rgb(167, 88, 219); text-shadow: rgb(27, 3, 66); font-weight: 700; font-size: x-large;">Playlist live Show</h2>
  <div class="row" style="margin-right: -110px;">
    <div class="col-12 col-sm-6 col-md-4 col-lg-4" *ngFor="let a of playlist">
      <!-- Card Wider -->
      <div class="card card-cascade-danger wider" style="width: 75%;">
        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img class="card-img-top" width="100%" src="{{ a.linkImg }}" height="250px" alt="Card image cap" />
          <!-- chen link nhac details -->
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!-- Card content -->
        <div class="card-body card-body-danger card-body-cascade text-center pb-0">
          <!-- Title -->
          <h4 class="card-title" style="color: rgb(167, 88, 219); text-shadow: rgb(27, 3, 66); font-weight: 700; font-size: x-large;">
            <strong>{{ a.name }}</strong>
          </h4>
          <!-- Subtitle -->
          <h5 class="blue-text pb-2">
            <button class="btn btn-primary" (click)="listenPlaylist(a)">Detail Playlist</button>
          </h5>
          <!-- Card footer -->
          <!-- <div class="card-footer text-muted text-center mt-4">2 days ago</div> -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Card Wider -->
<div class="container">
  <h2  style="color: rgb(167, 88, 219); text-shadow: rgb(27, 3, 66); font-weight: 700; font-size: x-large;">Singer live Show</h2>
  <div class="row" style="margin-right: -110px;">
    <div class="col-12 col-sm-6 col-md-4 col-lg-4" *ngFor="let a of singer">
      <!-- Card Wider -->
      <div class="card card-cascade-danger wider" style="width: 75%;">
        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img class="card-img-top" width="100%" src="{{ a.linkImg }}" height="250px" alt="Card image cap" />
          <!-- chen link nhac details -->
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!-- Card content -->
        <div class="card-body card-body-danger card-body-cascade text-center pb-0">
          <!-- Title -->
          <h4 class="card-title" style="color: rgb(167, 88, 219); text-shadow: rgb(27, 3, 66); font-weight: 700; font-size: x-large;">
            <strong>{{ a.name }}</strong>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>