
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger" style="background: white;">
                        <h4 class="card-title " style="color: black;">YOUR SONG LIST</h4>
                        <!-- <p class="card-category"> Here you are? </p> -->
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                               
                                <tbody *ngFor="let i of songsOfUser">
                                    <tr>
                                        <td><img src={{i.linkImg}} width="90px"></td>
                                        <td>{{i.name}}</td>
                                        <td>{{i.author}}</td>
                                        <!-- <td><audio controls><source src={{i.linkMp3}}></audio></td> -->
                                        <td>{{i.musicType}}</td>
                                        <td>
                                        <button class="btn btn-primary" (click)="listen(i)">
                                            Nghe nhạc
                                          </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>