<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-7">
                <div class="card">
                    <div class="card-header card-header-danger" style="background: white;">
                        <h4 class="card-title" style="color: black;">Create Playlist</h4>
                        <p class="card-category">Complete your profile</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <label style="color: black;">Name playlist:</label>
                                    <input [(ngModel)]="playlist.name" type="text" minlength="3" maxlength="30"  ngModel name="name" #name="ngModel" required style="margin-left: 60px; width: 377px;">
                                </div>
                            </div>
                            <div *ngIf="name.errors?.required">
                                <p style="color: red;"> Name is required</p> 
                                </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="musictype" style="color: black;">Music type playlist:</label>
                                    <input type="text" matInput  minlength="3" maxlength="30"  ngModel name="music" #music="ngModel" required [(ngModel)]="playlist.musicType" id="musictype" style="margin-left: 30px; width: 377px;">
                                </div>
                            </div>
                            <div *ngIf="music.errors?.required">
                                <p style="color: red;"> Music type is required</p> 
                                </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="description" style="color: black;">Description playlist:</label>
                                    <textarea  minlength="3" required [(ngModel)]="playlist.description"  ngModel name="description" #description="ngModel" rows="4" cols="50" style="margin-left: 30px;"></textarea>
                                </div>
                            </div>
                            <div *ngIf="description.errors?.required">
                                <p style="color: red;"> Description is required</p> 
                                </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="cars" style="color: black;">Choose the song:</label>
                                    <select name=”songList” [(ngModel)]="listIds" multiple required style="    margin-left: 39px;">
                                        <option *ngFor="let so of song" value={{so.id}}>{{so.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="avatar">Choose Avatar:</label>
                                    <input style="width: 200px;margin-left: 33px;" type="file" (change)="onFileChangedAva($event)"/>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="tuan">Thông báo: {{tuan}}</label>
                                </div>
                            </div>
                            <br>
                            <button mat-raised-button type="submit" (click)="onclickAdd()" class="btn btn-primary" style="margin-left: 360px;">Create playlist</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
  </div>
  